.restaurant-card {
    width: 327px;
    height: 202px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.top-content {
    display: flex;
    width: 142px;
    height: 28px;
    gap: 6px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-category-image {
    width: 140px;
    height: 140px;
    position: absolute;
    top: -30px;
    right: -30px;
}

.opening-time-overlay {
    width: fit-content;
    height: 22px;
    justify-items: center;
    display: flex;
    flex-direction: row;

    border-radius: 4px;
    border-width: 0.6px;
    border: 0.8px solid var(--stroke);
    padding-top: 6px;
    padding-right: 12px;
    padding-left: 10px;

    font-size: 12px;
    letter-spacing: -0.5px;
}

.bottom-content {
    width: 295px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 24px;
    letter-spacing: -0.5px;
}

.button {
    width: 32px;
    height: 32px;
    gap: 8px;
    border-radius: 88px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.open-status,
.delivery-time {
    width: fit-content;
    height: 16px;
    gap: 4px;
    border-radius: 88px;
    border: 0.8px solid var(--stroke);
    border-width: 0.6px;

    margin-top: 0px;
    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 10px;

    font-size: 12px;
    letter-spacing: -0.5px;

    display: flex;
    align-items: center;
}

.open-status {
    flex-direction: row;
}

.colored-circle {
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: var(--green);
}

.colored-circle.closed {
    background-color: var(--black);
}

.restaurant-category-image.closed,
.bottom-content.closed {
    opacity: 0.2;
}