.categories-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 480px) {
    .categories-row {
        max-width: 100svw;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;

        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .categories-row::-webkit-scrollbar {
        display: none;
    }
}