.home-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.home-section h1 {
    font-size: 64px;
    font-weight: bold;
    pointer-events: none;

    font-family: Helvetica;
    font-weight: 700;
    font-style: Bold;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: uppercase;
}

.left {
    background: white;
    color: black;
}

.left:hover {
    background: var(--green);
    color: white;
}

.right {
    background: black;
    color: white;
}

.right:hover {
    background: var(--green);
    color: black;
}

