@media (max-width: 480px) {
    .restaurant-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-title {
        font-size: 20px;
    }
}

@media (min-width: 481px) {
    .section-title {
        font-size: 40px;
    }

    .restaurant-grid {
        grid-template-columns: repeat(3, 0fr);
    }
}

.section-title {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.5px;
}

.restaurant-grid {
    display: grid;
    gap: 20px;
}