@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFPRODISPLAYREGULAR.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFPRODISPLAYMEDIUM.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFPRODISPLAYBOLD.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-sans: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI";

  --white: #FFFFFF;
  --off-white: #FAFAFA;
  --black: #000000;
  --green: #00703A;
  --stroke: #E9E9E9;
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
}