.category-card {
    width: 160px;
    min-width: 160px;
    height: 80px;
    position: relative;
}

.category-card.selected {
    background-color: var(--green);
    color: white;
}

.category-name {
    font-size: 14px;
    line-height: 100%;
    top: 0px;
    padding-left: 10px;
    position: absolute;
}

.category-image {
    width: 80px;
    height: 80px;
    left: 90px;
    top: 0px;
    position: absolute;
}