.intro-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    padding-top: 56px;
    box-sizing: border-box;
    background-color: var(--green);
}

@media (max-width: 480px) {
    .intro-page {
        padding-left: calc((100svw - 330px) / 2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .intro-header {
        font-weight: 760;
        font-style: Expanded Bold;
        font-size: 48px;
        letter-spacing: -1px;
        vertical-align: bottom;
        color: var(--white);
        margin-top: 0px;
        margin-bottom: 15px;

        width: 246px;
    }

    .intro-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.5px;
        vertical-align: middle;

        width: 246px;
        color: var(--white);
    }

    .intro-button {
        width: 327px;
        height: 56px;
        margin-bottom: 20px;

        border-radius: 8px;
        border-width: 1px;
        border: 1px solid var(--white);

        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.5px;
        text-align: center;

        background-color: var(--green);
        color: var(--white)
    }
}

@media (min-width: 481px) {
    .intro-page {
        padding-left: 40px;
    }

    .intro-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}