.sidebar-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.5px;
    margin-top: 10px;
}

.sidebar {
    width: 239px;
    height: 100%;
    padding: 24px;
    margin-right: 20px;
    gap: 32px;
}